[submodule "puppet-modules/nodejs"]
	path = puppet-modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "puppet-modules/stdlib"]
	path = puppet-modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet-modules/wget"]
	path = puppet-modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "puppet-modules/ruby"]
	path = puppet-modules/ruby
	url = git@github.com:puppetlabs/puppetlabs-ruby.git
[submodule "puppet-modules/yeoman"]
	path = puppet-modules/yeoman
	url = git@github.com:frankcarey/puppet-yeoman.git
[submodule "puppet-modules/vcsrepo"]
	path = puppet-modules/vcsrepo
	url = git@github.com:puppetlabs/puppetlabs-vcsrepo.git
[submodule "puppet-modules/git"]
	path = puppet-modules/git
	url = git@github.com:puppetlabs/puppetlabs-git.git
